{{include partials/header}}

<a class="right" href="/write">Back</a>

<form action="/write/{{id}}" method="post" class="wrapper">

	<div class="saved">Saved!</div>

	<input type="hidden" name="token" value="{{token}}">

	<input type="hidden" name="oldId" value="{{id}}">

	<label>Title</label>
	<input type="text" name="title" value="{{post.title}}">

	<label>ID</label>
	<input type="text" name="id" value="{{id}}">

    <label>Date</label>
    <input type="text" name="date" value="{{post.date}}">

	<label>Body</label>
	<textarea name="body" id="summernote">{{post.body|safe}}</textarea>

	<input type="submit" value="save">

</form>

<script src="//code.jquery.com/jquery-1.9.1.min.js"></script> 
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script> 
<script src="/js/summernote.min.js"></script>
<script>

$(document).ready(function() {

  $('#summernote').summernote({
  	height: 500,
  	toolbar: [
        ['style', ['style']],
        ['font', ['bold', 'italic', 'underline', 'clear']],
        // ['font', ['bold', 'italic', 'underline', 'strikethrough', 'superscript', 'subscript', 'clear']],
        // ['fontname', ['fontname']],
        ['fontsize', ['fontsize']],
        // ['color', ['color']],
        ['para', ['ul', 'ol', 'paragraph']],
        // ['height', ['height']],
        // ['table', ['table']],
        ['insert', ['link', 'picture', 'hr']],
        ['view', ['fullscreen', 'codeview']],
        // ['help', ['help']]
      ]
  });

  $('input').not('[type="submit"]').on('blur', $.mj.save);

  $('input[type="submit"]').on('click', function(e) {
    e.preventDefault();
    $.mj.save();
  });

  $.mj.setContent($('#summernote').val());

  $.mj.setTimer();

  setInterval(function() {
    $.mj.checkContent($('#summernote').val());
  }, 30000);

});

(function($) {

    var content,
        timer;

    function validate() {

        var valid = true;

        $('[name="title"], [name="id"]').each(function(i, input) {
            if ($(input).val().length === 0) {
                $(input).addClass('error');
                valid = false;
            } else {
                $(input).removeClass('error');
            }
        });

        if ($('[name="id"]').val().indexOf(' ') !== -1) {
            $('[name="id"]').addClass('error');
            valid = false;
        } else {
            $('[name="id"]').removeClass('error');
        }

        if (!valid) {
            $('[type="submit"]').addClass('error');
        } else {
            $('[type="submit"]').removeClass('error');
        }

        return valid;
    }

    function save() {
        if (validate()) {
            $.post('/write/{{id}}', $('form').serialize())
                .done(function() {
                    $('.saved').fadeIn('fast');
                    setTimeout(function() {
                        $('.saved').fadeOut();
                    }, 6000);
                });
        }
    }

    function setTimer() {
        clearTimeout(timer);
        timer = setTimeout(function() {
            var redirectTimer = setTimeout(function() {
                location.reload();
            }, 60000);
            alert('Do something or you\'re gonna get logged out!');
            clearTimeout(redirectTimer);
        }, 540000);
    }

    function checkContent(newContent) {
        if (content && newContent !== content) {
            save();
            setTimer();
        }
        content = newContent;
    }

    function setContent(data) {
        content = data;
    }

    $.mj = {
        checkContent: checkContent,
        setContent: setContent,
        validate: validate,
        setTimer: setTimer,
        save: save
    };

})($);

</script>

</body>
</html>