body {
	font-family: 'Lato', sans-serif;
	margin: 0;
    line-height: 1.5;
    color: #737373;
}

h1, h2, h3 {
	margin: 0 0 20px;
}

h1 {
    font-size: 30px;
}

a {
	text-decoration: none;
    color: #4F9DCE;
}

.menu-toggle {
	position: fixed;
    z-index: 2;
    top: 20px;
    left: 20px;
    padding: 0;
    margin: 0;
    width: 27px;
    -moz-appearance: none;
    -webkit-appearance: none;
    height: 20px;
    outline: none;
    cursor: pointer;
}

.menu {
    width: 27px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 54px 6px 20px;
    z-index: 2;
    pointer-events: none;
    background-color: transparent;
    transition: background-color 0.3s;
}

.menu .bar {
	background-color: white;
	height: 4px;
	border-radius: 5px;
	margin-bottom: 4px;
}

.nav {
	opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    background-color: rgba(0,0,0,.4);
    position: fixed;
    top: 50px;
    left: 0;
    height: 100%;
    z-index: 3;
    width: 101px;
}

.nav a {
	display: block;
    color: white;
    line-height: 34px;
    padding: 0 25px 0 20px;
}

.nav a:hover {
    color: #DEDEDE;
}

.menu-toggle:checked {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.menu-toggle:checked + .nav {
	visibility: visible;
    opacity: 1;
}

.menu-toggle:checked + .nav + .menu {
    background-color: rgba(0,0,0,.4);
}

.background {
	position: absolute;
	height: 100%;
	width: 100%;
	background-image: url('/images/sea.jpg');
	background-size: cover;
	background-position: 0 -220px;
}

.hero {
	color: white;
    text-align: center;
    padding: 150px 0;
    font-size: 20px;
}

.container {
    background-color: #FFFFFF;
    padding: 35px calc(50% - 300px);
    color: #6B6B6B;
    box-shadow: 0 0 18px rgba(0,0,0,.2);
}

/************ DOCUMENTATION ***************/

ul {
    padding: 0 0 0 20px;
}

.sidebar {
    width: 240px;
    padding: 0 20px 20px 0;
    float: left;
    background-color: #FBFBFB;
    position: fixed;
    overflow: scroll;
    height: calc(100% - 5px);
}

.sidebar ul {
    list-style: none;
}

.sidebar h3 {
    padding: 20px 0 20px 20px;
    background-color: #464646;
    width: 100%;
    color: #EFEFEF;
}

.main {
    float: left;
    padding: 10px 50px;
    width: calc(100% - 360px);
    margin-left: 260px;
}

code {
    background-color: #FBFAFA;
    padding: 5px 11px;
    display: block;
    color: #757575;
    margin: 5px 0;
    white-space: pre;
}

code i {
    color: #B3B3B3;
}

p code, li code {
    display: inline-block;
    padding: 0 3px;
    line-height: 1;
}

.serif {
    font-family: 'Times', 'serif';
}

.section {
    border-bottom: 4px solid #FBFAFA;
    padding: 20px 0;
}