body {
	font-family: 'Exo 2', sans-serif;
    font-weight: 100;
	margin: 0;
    font-size: 15px;
    line-height: 1.6;
    color: #737373;
}

.black {
    background-color: black;
}

::selection { 
    background: rgba(0,0,0,.04);
}

#parallax {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('/images/bg.jpeg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #070707;
}

.background {
    width: 100%;
    height: 100%;
    background-image: url('/images/header.jpeg');
    background-size: 100% 304px;
    background-repeat: no-repeat;
}

.background .content {
    font-size: 12pt;
    line-height: 20pt;
}

h1, h2, h3 {
	margin: 0 0 20px;
    font-weight: 100;
}

h1 {
    font-size: 30px;
}

a {
	text-decoration: none;
    color: #4F9DCE;
}

.logo {
    font-size: 12pt;
    font-weight: bold;
    border: 3px solid white;
    display: inline-block;
    padding: 5px 10px;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.4);
    box-shadow: 3px 3px 0px rgba(0,0,0,.2);
    background-color: rgba(0,0,0,.2);
}

.logo-script {
    font-size: 8pt;
    letter-spacing: 1px;
    margin: 3px 0 0 0;
    color: #72ADB1;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.4);
}

a:hover, input[type="submit"]:hover {
    cursor: pointer;
}

.menu-toggle {
	position: fixed;
    z-index: 2;
    top: 20px;
    left: 20px;
    padding: 0;
    margin: 0;
    width: 27px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    border-radius: 0;
    height: 20px;
    outline: none;
    cursor: pointer;
    background: none;
}

.menu {
    width: 27px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 54px 6px 20px;
    z-index: 2;
    pointer-events: none;
    background-color: transparent;
    transition: background-color 0.3s;
}

.menu .bar {
	background-color: #F9F9F9;
	height: 4px;
	margin-bottom: 4px;
    box-shadow: 0px 4px 0px rgba(0,0,0,.15);
    -moz-box-shadow: 0px 4px 0px rgba(0,0,0,.15);
    -webkit-box-shadow: 0px 4px 0px rgba(0,0,0,.15);
}

.nav {
    font-size: 10pt;
    pointer-events: none;
	opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    background-color: rgba(0,0,0,.6);
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 50px;
    height: 100%;
    z-index: 2;
    width: 15%;
    min-width: 101px;
}

.nav a {
    pointer-events: auto;
	display: block;
    color: white;
    line-height: 34px;
    padding: 0 25px 0 20px;
    visibility: visible;
}

.nav a:hover {
    color: #DEDEDE;
}

.menu-toggle:checked {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.menu-toggle:checked + .nav {
	visibility: visible;
    opacity: 1;
}

.hero {
	color: white;
    text-align: center;
    padding: 144px 0 119px;
    font-size: 20px;
}

.content {
    color: #6B6B6B;
    text-align: center;
    background-image: url('/images/texture.png');
}

.content a:hover {
    color: #78BEEA;
}

.content .bloglist {
    list-style: none;
    margin-top: 30px;
}

.post {
    text-align: left;
}

.post:first-letter {
    float: left;
    font-size: 59pt;
    line-height: 59pt;
    padding-right: 12px;
    padding-left: 3px;
    font-style: italic;
    font-family: Georgia, times, serif;
    color: #8C8C8C;
}

.footer {
    background-color: #F3F3F3;
    text-align: center;
    padding: 50px calc(50% - 300px);
}

.footer a {
    font-size: 9pt;
    color: #CACACA;
    padding: 0 40px;
    border-right: 1px solid #E4E4E4;
}

.footer a:last-child {
    border: none;
}

.footer a:hover {
    color: #A3B1BB;
}

.container {
    background-color: #F9F9F9;
    padding: 50px calc(50% - 300px);
    margin: 200px 0;
    box-shadow: 0 0 50px rgba(0,0,0,.5);
    -o-box-shadow: 0 0 50px rgba(0,0,0,.5);
    -moz-box-shadow: 0 0 50px rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 50px rgba(0,0,0,.5);
}

.container p, .container ul, .container h1, .container h2, .container h3 {
    padding: 0 8%;
}

.container:first-child {
    margin-top: 0;
}

.container:last-child {
    margin-bottom: 0;
}

.headshot {
    width: 200px;
    background-image: url('/images/headshot.jpg');
    height: 200px;
    background-size: cover;
    border-radius: 100px;
    border: 3px solid white;
    box-shadow: 2px 2px 0 #D4D4D4;
}

.headshot + .right {
    margin-top: 95px;
}

.clear {
    overflow: auto;
}

.left {
    float: left;
}

.right {
    float: right;
}

.view-all {
    display: block;
    font-size: 10pt;
    padding: 10px 0;
    border-top: 1px solid #F3F3F3;
    border-bottom: 1px solid #F3F3F3;
}

.snippet {
    height: 7em;
    overflow: hidden;
}

.project-link {
    display: inline-block;
    background: white;
    width: 46%;
    box-sizing: border-box;
    margin: 2% 1% 0 1%;
    padding: 8px 5px;
    box-shadow: 2px 3px 0 rgba(0,0,0,.05);
    position: relative;
    top: 0;
    transition: all 0.3s;
}

.project-link:hover {
    top: -3px;
    box-shadow: 3px 5px 1px rgba(0,0,0,.04);
}

.project-link .desc {
    font-size: 9pt;
    font-style: italic;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/************ DOCUMENTATION ***************/

ul {
    margin: 0 0 0 25px;
}

.sidebar {
    width: 260px;
    padding: 0 0 20px 0;
    background-color: #FBFBFB;
    position: fixed;
    overflow: scroll;
    height: 100%;
}

.sidebar ul {
    list-style: none;
}

.sidebar h3 {
    padding: 20px 0 20px 25px;
    background-color: #464646;
    width: 100%;
    color: #EFEFEF;
}

.main {
    padding: 10px 50px;
    margin-left: 240px;
    background-color: white;
    z-index: 1;
    position: relative;
}

code {
    background-color: #FBFBFB;
    padding: 10px 8%;
    display: block;
    color: #926666;
    margin: 5px 0;
    white-space: pre-wrap;
    font-size: 12px;
    box-shadow: 2px 2px #F1F1F1;
}

code i {
    color: #B3B3B3;
}

p code, li code {
    display: inline-block;
    padding: 0 3px;
    line-height: 1;
    background: none;
    box-shadow: none;
}

.serif {
    font-family: 'Times', 'serif';
}

.section {
    border-bottom: 4px solid #FBFAFA;
    padding: 20px 0;
}

@media (max-width: 700px) {
    .container {
        margin: 1px 0;
        box-shadow: none;
        -o-box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
    }
    .background {
        background-size: auto 304px;
    }
}