body {
	font-family: 'Oxygen', sans-serif;
	margin: 0;
    font-size: 15px;
    line-height: 1.6;
    color: #737373;
}

h1, h2, h3 {
	margin: 0 0 20px;
}

h1 {
    font-size: 30px;
}

a {
	text-decoration: none;
    color: #4F9DCE;
}

.logo {
    font-size: 12pt;
    font-weight: bold;
    border: 3px solid white;
    display: inline-block;
    padding: 5px 10px;
    text-shadow: 1px 1px 15px black;
    box-shadow: 1px 1px 16px black;
    background-color: rgba(0,0,0,.4);
}

.logo-script {
    font-size: 8pt;
    letter-spacing: 1px;
    margin: 3px 0 0 0;
    color: #53758C;
    text-shadow: 1px 1px 1px black;
}

a:hover, input[type="submit"]:hover {
    cursor: pointer;
    filter: contrast(1.1);
    -o-filter: contrast(1.1);
    -moz-filter: contrast(1.1);
    -webkit-filter: contrast(1.1);
}

.menu-toggle {
	position: fixed;
    z-index: 2;
    top: 20px;
    left: 20px;
    padding: 0;
    margin: 0;
    width: 27px;
    -moz-appearance: none;
    -webkit-appearance: none;
    height: 20px;
    outline: none;
    cursor: pointer;
}

.menu {
    width: 27px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 54px 6px 20px;
    z-index: 2;
    pointer-events: none;
    background-color: transparent;
    transition: background-color 0.3s;
}

.menu .bar {
	background-color: white;
	height: 4px;
	border-radius: 5px;
	margin-bottom: 4px;
}

.nav {
	opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    background-color: rgba(0,0,0,.6);
    position: fixed;
    top: 50px;
    left: 0;
    height: 100%;
    z-index: 3;
    width: 101px;
}

.nav a {
	display: block;
    color: white;
    line-height: 34px;
    padding: 0 25px 0 20px;
}

.nav a:hover {
    color: #DEDEDE;
}

.menu-toggle:checked {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.menu-toggle:checked + .nav {
	visibility: visible;
    opacity: 1;
}

.menu-toggle:checked + .nav + .menu {
    background-color: rgba(0,0,0,.6);
}

.background {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: hsl(204, 46%, 30%);
    background-image: repeating-linear-gradient(transparent, transparent 50px, rgba(0,0,0,.4) 50px, rgba(0,0,0,.4) 53px, transparent 53px, transparent 63px, rgba(0,0,0,.4) 63px, rgba(0,0,0,.4) 66px, transparent 66px, transparent 116px, rgba(0,0,0,.5) 116px, rgba(0,0,0,.5) 166px, rgba(255,255,255,.2) 166px, rgba(255,255,255,.2) 169px, rgba(0,0,0,.5) 169px, rgba(0,0,0,.5) 179px, rgba(255,255,255,.2) 179px, rgba(255,255,255,.2) 182px, rgba(0,0,0,.5) 182px, rgba(0,0,0,.5) 232px, transparent 232px),
    repeating-linear-gradient(270deg, transparent, transparent 50px, rgba(0,0,0,.4) 50px, rgba(0,0,0,.4) 53px, transparent 53px, transparent 63px, rgba(0,0,0,.4) 63px, rgba(0,0,0,.4) 66px, transparent 66px, transparent 116px, rgba(0,0,0,.5) 116px, rgba(0,0,0,.5) 166px, rgba(255,255,255,.2) 166px, rgba(255,255,255,.2) 169px, rgba(0,0,0,.5) 169px, rgba(0,0,0,.5) 179px, rgba(255,255,255,.2) 179px, rgba(255,255,255,.2) 182px, rgba(0,0,0,.5) 182px, rgba(0,0,0,.5) 232px, transparent 232px),
    repeating-linear-gradient(125deg, transparent, transparent 2px, rgba(0,0,0,.2) 2px, rgba(0,0,0,.2) 3px, transparent 3px, transparent 5px, rgba(0,0,0,.2) 5px);
}

.hero {
	color: white;
    text-align: center;
    padding: 144px 0;
    font-size: 20px;
}

.content {
    background-color: #EAEAEA;
}

.footer {
    background-color: #3D4952;
    text-align: center;
}

.footer a {
    font-size: 9pt;
    color: #8195A5;
    padding: 0 40px;
    border-right: 1px solid #515A67;
}

.footer a:last-child {
    border: none;
}

.footer a:hover {
    color: #A3B1BB;
}

.container {
    padding: 35px calc(50% - 300px);
    color: #6B6B6B;
}

.hero + .container {
    box-shadow: 0 0 150px rgba(0,0,0,.5);
    -o-box-shadow: 0 0 150px rgba(0,0,0,.5);
    -moz-box-shadow: 0 0 150px rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 150px rgba(0,0,0,.5);
}

/************ DOCUMENTATION ***************/

ul {
    padding: 0 0 0 25px;
}

.sidebar {
    width: 240px;
    padding: 0 0 20px 0;
    float: left;
    background-color: #FBFBFB;
    position: fixed;
    overflow: scroll;
    height: calc(100% - 5px);
}

.sidebar ul {
    list-style: none;
}

.sidebar h3 {
    padding: 20px 0 20px 25px;
    background-color: #464646;
    width: 100%;
    color: #EFEFEF;
}

.main {
    float: left;
    padding: 10px 50px;
    width: calc(100% - 340px);
    margin-left: 240px;
}

code {
    background-color: #FBFAFA;
    padding: 5px 11px;
    display: block;
    color: #757575;
    margin: 5px 0;
    white-space: pre;
}

code i {
    color: #B3B3B3;
}

p code, li code {
    display: inline-block;
    padding: 0 3px;
    line-height: 1;
}

.serif {
    font-family: 'Times', 'serif';
}

.section {
    border-bottom: 4px solid #FBFAFA;
    padding: 20px 0;
}